In [1]:
# Import modules
import sqlalchemy as sql

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [3]:
# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

## Create a SQL Table

In [4]:
# Create a table with SQL syntax
#   CREATE TABLE <table_name> (
#     <column_name> <data_type>,
#     <column_name> <data_type>,
#     ...,
#     <column_name> <data_type>
#   )

In [5]:
# Create a table with SQL syntax
sql_statement = """
CREATE TABLE payments (
  payment_id INT PRIMARY KEY,
  mortgage_id INT,
  customer_id INT,
  payment INT,
  payment_date DATE
)
"""

In [6]:
# Execute the SQL statement
result = engine.execute(sql_statement)

2022-07-05 18:19:04,144 INFO sqlalchemy.engine.Engine
CREATE TABLE payments (
  payment_id INT PRIMARY KEY,
  mortgage_id INT,
  customer_id INT,
  payment INT,
  payment_date DATE
)

2022-07-05 18:19:04,145 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 18:19:04,146 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
# Get table names from the database
engine.table_names()

2022-07-05 18:19:04,835 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-05 18:19:04,836 INFO sqlalchemy.engine.Engine [raw sql] ()

/var/folders/n_/zpvmt78j3zj_n4nxs68szkfw0000gn/T/ipykernel_85150/2337618584.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['payments']

## Insert Data into the Table

In [8]:
# Syntax for SQL INSERT  statement
# INSERT INTO table_name(colum1, column2, ...) VALUES (val, val, ...), (val, val, ...)

In [9]:
# Write the INSERT SQL query
insert_data = """
    INSERT INTO payments("payment_id", "mortgage_id", "customer_id", "payment", "payment_date")
    VALUES (6530784, 530180, 0, 849, 2007-02-12), 
    (5332543, 625617, 1, 1116, 2007-10-21), (6633146, 588605, 2, 2465, 2002-06-22)
    """

In [10]:
# Execute the INSERT SQL statement
engine.execute(insert_data)

2022-07-05 18:19:06,607 INFO sqlalchemy.engine.Engine
    INSERT INTO payments("payment_id", "mortgage_id", "customer_id", "payment", "payment_date")
    VALUES (6530784, 530180, 0, 849, 2007-02-12),
    (5332543, 625617, 1, 1116, 2007-10-21), (6633146, 588605, 2, 2465, 2002-06-22)

2022-07-05 18:19:06,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 18:19:06,609 INFO sqlalchemy.engine.Engine COMMIT

## Read a SQL Table

In [11]:
# The SQL syntax to read a database table
# SELECT <columns> FROM <table_name>

In [12]:
# Select all rows from the payments table
sql_statement = "SELECT * FROM payments"

In [13]:
# Execute the SQL statement
result = engine.execute(sql_statement)

2022-07-05 18:19:07,867 INFO sqlalchemy.engine.Engine SELECT * FROM payments
2022-07-05 18:19:07,868 INFO sqlalchemy.engine.Engine [raw sql] ()

In [14]:
# Review the result object
result

In [15]:
# Print the results in the result object
for row in result:
    print(row)

(6530784, 530180, 0, 849, 1993)
(5332543, 625617, 1, 1116, 1976)
(6633146, 588605, 2, 2465, 1974)

In [16]:
# Alternative method using fetchall. The result object is cleared after it is read.
# You will need to re-execute the sql statement again.

# Execute sql statement
result = engine.execute(sql_statement)

# Review the data with the fetchall method
result.fetchall()

2022-07-05 18:19:08,601 INFO sqlalchemy.engine.Engine SELECT * FROM payments
2022-07-05 18:19:08,602 INFO sqlalchemy.engine.Engine [raw sql] ()

[(6530784, 530180, 0, 849, 1993),
 (5332543, 625617, 1, 1116, 1976),
 (6633146, 588605, 2, 2465, 1974)]